<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px"
      style="margin-top: 40px;">
  <ng-template [ngIf]="!activeCat" >
    <mat-card>
      <img mat-card-image  src="assets/img/cat.svg" alt="icon">
    </mat-card>
  </ng-template>
  
  <ng-template [ngIf]="activeCat">
    <mat-card>
      <mat-card-title> {{ activeCat.name }} </mat-card-title>
      <mat-card-subtitle>
        Clicks:  {{activeCat.clicks}}
      </mat-card-subtitle>
      <img mat-card-image [src]="activeCat.src" alt="cat image">
      <mat-card-actions>
        <button mat-raised-button color="primary">Click!</button>
        <button mat-raised-button color="accent">Reset Clicks</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
  
</div>
